{{ define "todo/index.tmpl" }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="{{ .bootstrap_css }}">
</head>

<body>
    <div class="container mt-4">
        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>

    <script src="{{ .bootstrap_js }}"></script>
</body>

</html>

{{ end }}